.footer {
  padding: 5px 0px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul {
  margin: 16px 0px 8px 0px;
  padding: 0;
}
.footer ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}
.footer ul li img{
  position: relative;
  top: 0;

  width: 40px;
  object-fit: contain;
  filter: brightness(0) drop-shadow(2px 2px 2px rgba(0,0,0,0.3));

  transition: filter 0.3s, top 0.3s;
}
.footer ul li img:hover{
  top: -1px;
  filter: brightness(0.3) drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
}