h1 {
  cursor: default;
}
h2 {
  margin: 0;
  padding: 0;

  cursor: default;
}
h3 {
  margin: 0;
  padding: 0;

  cursor: default;
}
p {
  margin: 0;
  padding: 0;

  cursor: default;
}
span {
  margin: 0;
  padding: 0;

  cursor: default;
}
a {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}