.innerPanel.contact {
  /* Created with https://csshero.org/mesher */
  background-color:#e36cd2;
  background-image:
    radial-gradient(at 9% 30%, hsl(262, 69%, 72%) 0px, transparent 50%),
    radial-gradient(at 81% 88%, hsl(332, 47%, 70%) 0px, transparent 50%),
    radial-gradient(at 90% 55%, hsl(284, 64%, 75%) 0px, transparent 50%);
}

.musicContact .contact h3 {
  font-size: 30px;
}