.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2vw;

  padding: 32vh 0 0 0;
  margin: 0 3.2vw 3.2vw 3.2vw;
  background: white;
}
.musicContact {
  width: 100%;
  max-width: 1800px;
  min-height: 300px;
  margin: 0;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  gap: 3.2vw;
}

.innerPanel {
  min-height: 100%;
  width: 100%;
  max-width: 1800px;
  display: flex;
  flex-direction: column;

  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  background-size: 150% 150%;

  filter: contrast(0.8) saturate(0.8);

  animation: info-gradient 4s linear infinite;
  animation-play-state: paused;
  transition: filter 0.4s, box-shadow 0.4s;
}
.innerPanel:hover {
  filter: contrast(1) saturate(1);
  animation-play-state: running;
}
.innerPanel h2 {
  margin: 25px 40px 17px 40px;

  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  transition: color 0.5s;
}

.musicContact .innerPanelInner {
  position: relative;
  height: 100%;
  top: -16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.musicContact .innerPanel h2 {
  font-size: 40px;
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.musicContact .innerPanel h3 {
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  text-align: center;
  color: white;
  margin: 0px 40px;
}

.cardsOuter {
  margin: 0 32px 0 32px;
  padding: 0;
}
.cards {
  width: 100%;

  margin: 0;
  padding: 0;
  padding-bottom: 32px;

  overflow-x: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.icons ul {
  margin: 0;
  padding: 0;
}
.icons ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}
.icons ul li img{
  position: relative;
  top: 0;

  width: 40px;
  object-fit: contain;
  filter: brightness(1) drop-shadow(2px 2px 2px rgba(0,0,0,0.3));

  transition: filter 0.3s, top 0.1s;
}
.icons ul li img:hover {
  top: -1px;
  filter: brightness(0.8) drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
}
.icons ul li img:active {
  top: 1px;
}

@media screen and (max-width: 750px) {
  .innerPanel h2 {
    margin: 16px 22px;
  }
  .musicContact .innerPanel h3 {
    margin: 0 22px;
  }
  .cardsOuter {
    margin: 0 16px 0 16px;
  }
  .cards {
    padding-bottom: 16px;
  }
  .musicContact {
    flex-direction: column;
  }
  .musicContact .innerPanelInner {
    margin: 25px 0;
  }
}

@keyframes info-gradient {
  0% {
    background-position: 
      0% 0%,
      0% 0%,
      0% 0%;
  }
  33% {
    background-position: 
      100% 100%,
      0% 100%,
      100% 0%;
  }
  66% {
    background-position: 
      0% 100%,
      100% 0%,
      0% 100%;
  }
  100% {
    background-position: 
      0% 0%,
      0% 0%,
      0% 0%;
  }
}