.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30vh 0 0 0;
  background: white;
}

.innerPanel {
  height: 100%;
  width: 95vw;

  margin: 1.25vw 0;

  border-radius: 16px;
  box-shadow: 2px 3px 6px rgba(0,0,0,0.3);
}

.innerPanel.softwareInfo {
  background: linear-gradient(to bottom right, rgb(0, 50, 0), rgb(0, 0, 0));
}
.innerPanel.softwareInfo h2 {
  font-family: "Kode Mono", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.innerPanel.softwareInfo h3 {
  font-family: "Kode Mono", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.innerPanel.softwareInfo p {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.innerPanel.gameDevInfo {
  background: linear-gradient(to bottom right, rgb(0, 61, 84), rgb(0, 0, 0));
}
.innerPanel.gameDevInfo h2 {
  font-family: "Gloria Hallelujah", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.innerPanel.gameDevInfo h3 {
  font-family: "Gloria Hallelujah", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.innerPanel.gameDevInfo p {
  font-family: "Indie Flower", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.innerPanel.musicInfo {
  background: linear-gradient(to bottom right, rgb(64, 0, 64), rgb(0, 0, 0));
}
.innerPanel.musicInfo h2 {
  font-family: "Aboreto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.innerPanel h2 {
  margin: 25px 40px;

  color: rgba(255, 255, 255, 0.9);
  font-size: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cardsOuter {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
}
.cards {
  width: 100%;

  margin: 0;
  padding: 0;
  padding-bottom: 32px;

  overflow-x: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .innerPanel h2 {
    margin: 16px 22px;
  }
  .cardsOuter {
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .cards {
    padding-bottom: 16px;
  }
}