.innerPanel.softwareInfo {
  /* Created with https://csshero.org/mesher */
  background-color:hsla(150, 32%, 49%);
  background-image:
    radial-gradient(at 43% 83%, hsl(164, 45%, 39%) 0px, transparent 50%),
    radial-gradient(at 61% 45%, hsl(86, 58%, 68%) 0px, transparent 50%),
    radial-gradient(at 1% 40%, hsl(169, 54%, 66%) 0px, transparent 50%);
}
.innerPanel.softwareInfo h2 {
  font-size: 38px;
  font-family: "Kode Mono", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.innerPanel.softwareInfo h3 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.innerPanel.softwareInfo p {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.innerPanel.softwareInfo a {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}